$white-color: #f8f9fa;
$rocket-spacex-anim-duration: 2s;
$rocket-lines-anim-duration: 1.5s;

@font-face {
  font-family: "Astro space";
  src: url("../fonts/Astro-Space-font.ttf") format("truetype");
}

* {
  font-family: "Astro space";
  color: $white-color;
}
