@import "./global.scss";

$background-animation-duration: 8s;
body {
  overflow: hidden;
  margin: 0 !important;
  animation: background-anim-gradient $background-animation-duration linear 1
    forwards;

  $middle-step-color: #1d0044;
  @keyframes background-anim-gradient {
    0% {
      background-color: white;
    }
    25% {
      background-color: $middle-step-color;
    }
    75% {
      background-color: $middle-step-color;
    }
    100% {
      background-color: black;
    }
  }
}

$show-background-image-delay: calc($background-animation-duration/4) * 3;
$show-background-image-duration: calc($show-background-image-delay/2);
.background-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/index-background-nebula-picture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: 0;
  animation: background-anim-show-image $show-background-image-duration
    ease-in-out 1 forwards;
  animation-delay: $show-background-image-delay;

  @keyframes background-anim-show-image {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
}

$font-size-text: 9em;
$font-size-text-small-page: 5em;
$font-size-text-smallest-page: 3em;
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  font-size: $font-size-text;

  @media only screen and (max-width: 1150px) {
    font-size: $font-size-text-small-page;
  }
  @media only screen and (max-width: 650px) {
    font-size: $font-size-text-smallest-page;
  }

  $padding-around: 7%;
  #space-is-awesome {
    position: absolute !important;
    top: 15%;
    left: $padding-around;
    right: $padding-around;
    text-align: center;
    opacity: 0;
    animation: opacity-zero-to-hundred $show-background-image-duration linear 1
      forwards;
    @media only screen and (max-width: 1800px) {
      top: 5%;
    }
    @media only screen and (max-width: 1150px) {
      top: 25%;
    }
    @media only screen and (max-width: 1005px) {
      top: 15%;
    }
    @media only screen and (max-width: 650px) {
      top: 25%;
    }
  }

  $padding-around-bottom-text: $padding-around + 3%;
  #bottom-text-holder {
    position: absolute !important;
    top: 40%;
    left: $padding-around-bottom-text;
    right: $padding-around-bottom-text;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    & > span:nth-child(2) {
      text-align: center;
    }
    & > span:nth-child(3) {
      text-align: right;
    }
  }

  $show-bottom-text-anim-duration: 1s;
  $show-points-anim-delay-between: 0.3s;
  $show-lets-anim-delay: $show-bottom-text-anim-duration +
    $show-points-anim-delay-between * 4;
  $show-explore-it-anim-delay: $show-lets-anim-delay +
    $show-bottom-text-anim-duration;
  $show-together-anim-delay: $show-explore-it-anim-delay +
    $show-bottom-text-anim-duration;

  #lets .point {
    opacity: 0;
  }

  @for $i from 1 through 3 {
    #lets .point:nth-child(#{$i}) {
      height: 50px;
      width: 50px;
      background-color: $white-color;
      border-radius: 50%;
      margin-right: 20px;
      display: inline-block;

      animation: opacity-zero-to-hundred
        $show-bottom-text-anim-duration
        linear
        1
        forwards;
      animation-delay: $show-background-image-duration +
        $show-points-anim-delay-between *
        $i;
    }
  }

  #lets-text {
    opacity: 0;
    animation: opacity-zero-to-hundred $show-bottom-text-anim-duration linear 1
      forwards;
    animation-delay: $show-background-image-duration + $show-lets-anim-delay;
  }

  #explore-it {
    opacity: 0;
    font-weight: bold;
    animation: opacity-zero-to-hundred $show-bottom-text-anim-duration linear 1
      forwards;
    animation-delay: $show-background-image-duration +
      $show-explore-it-anim-delay;

    #explore-it-inner {
      cursor: pointer;

      &::before {
        content: "";
        background: #61bdb6;
        max-height: 0;
        transition: max-height 0.15s ease-in;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
      }
      &:hover {
        &::before {
          max-height: 90px;
          transition: max-height 0.25s ease-out;
        }
      }
    }
  }

  #together {
    opacity: 0;
    animation: opacity-zero-to-hundred $show-bottom-text-anim-duration linear 1
      forwards;
    animation-delay: $show-background-image-duration + $show-together-anim-delay;
  }
}

@keyframes opacity-zero-to-hundred {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$rocket-width: 20vw;
$rocket-height: 40vh;
/* 
  When changing rocket animation time, please change it in index.js on the setTimeout() function as well (don't forget to count in the ground animation delay) 
  You can get it by using this formula: longer-animation + $rocket-ground-anim-delay
*/
$rocket-anim-duration: 2s;
$rocket-ground-anim-duration: 2s;
$rocket-ground-animation-delay: 1s;
#rocket-transition-element {
  position: absolute;
  top: 100vh;
  left: 60vw - $rocket-width;
  width: $rocket-width;
  height: $rocket-height;
  z-index: 999;

  &.active {
    animation: rocket-takeoff $rocket-anim-duration linear 1 forwards;

    @keyframes rocket-takeoff {
      100% {
        top: 0vh - $rocket-height;
      }
    }
  }
}

$height-ground-normal: 500vh;
$height-ground-bigger: 750vh;
#rocket-transition-ground {
  position: absolute;
  top: 100vh;
  left: -25vw;
  width: 150vw;
  height: $height-ground-normal;
  z-index: 999;

  &.active {
    animation: ground-rise $rocket-ground-anim-duration linear
      $rocket-ground-animation-delay 1 forwards;

    @keyframes ground-rise {
      0% {
        top: 100vh;
        left: -25vw;
        width: 150vw;
        height: $height-ground-normal;
      }
      15% {
        top: 0vh;
        left: -25vw;
        width: 150vw;
        height: $height-ground-normal;
      }
      25% {
        top: -30vh;
        left: -25vw;
        width: 150vw;
        height: $height-ground-normal;
      }
      45% {
        top: -90vh;
        left: -25vw;
        width: 150vw;
        height: $height-ground-normal;
      }
      60% {
        top: -150vh;
        left: -50vw;
        width: 220vw;
        height: $height-ground-normal;
      }
      80% {
        top: -350vh;
        left: -350vw;
        width: 800vw;
        height: $height-ground-bigger;
      }
      100% {
        top: -540vh;
        left: -340vw;
        width: 800vw;
        height: $height-ground-bigger;
      }
    }
  }
}
