@import "./global.scss";
@import "./rocket-animation.scss";

@mixin show-data-mixin(
  $explanation_line_name,
  $explanation_line_offset,
  $explanation_point_name
) {
  & > * {
    opacity: 0;
  }

  &.active {
    & > * {
      opacity: 0;
      animation: show_info $rocket-lines-anim-duration linear forwards
        $rocket-spacex-anim-duration + $rocket-lines-anim-duration;
    }

    ##{$explanation_line_name} {
      opacity: 1;
      stroke-dasharray: $explanation_line_offset;
      stroke-dashoffset: $explanation_line_offset;
      animation: dash $rocket-lines-anim-duration linear forwards
        $rocket-spacex-anim-duration;
    }

    @if ($explanation_point_name) {
      ##{$explanation_point_name} {
        opacity: 1;
      }
    }
  }

  &.deactive {
    & > * {
      animation: show_info_back $rocket-lines-anim-duration linear forwards
        $rocket-lines-anim-duration;
    }

    ##{$explanation_line_name} {
      opacity: 1;
      stroke-dasharray: $explanation_line_offset;
      stroke-dashoffset: 0;
      animation: animation-dash-backward-#{$explanation_line_name} $rocket-lines-anim-duration
        linear forwards;

      @keyframes animation-dash-backward-#{$explanation_line_name} {
        0% {
          stroke-dashoffset: 0;
        }
        100% {
          stroke-dashoffset: $explanation_line_offset;
        }
      }
    }
  }
}

#Basic-rocket-info {
  @include show-data-mixin("_Basic_info_line", 707.8, null);
}

#Engines-rocket-info {
  @include show-data-mixin("_Engines_info_line", 242, "_Engines_info_point");
}

#Payload-rocket-info {
  @include show-data-mixin("_Payload_info_line", 96, "_Payload_info_point");
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes show_info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_info_back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$rocket-flame-anim: 0.25;
#rocket-whole.active {
  #rocket-boost-vector {
    animation: rocket-booster-animation-spacex 0.25s ease-in-out 8;
  }
}
#rocket-whole.deactive {
  #rocket-boost-vector {
    animation: rocket-booster-animation-spacex 0.25s ease-in-out 8;
  }
}

@keyframes rocket-booster-animation-spacex {
  0% {
    d: path(
      "M392.281 400.062C323.567 400.062 294.5 499.5 316.5 529.5C342 535.5 350.408 489.432 350.408 489.432C350.408 489.432 373 626.5 401 625.5C429 624.5 445.963 504.107 445.963 504.107C445.963 504.107 456 539 473 531C490 523 508.234 400.062 392.281 400.062Z"
    );
  }
  20% {
    d: path(
      "M389.5 394.5C320.787 394.5 307.5 504.107 322.5 535C344.5 535 341 492.5 341 492.5C341 492.5 366 607.5 389.5 607.5C413 607.5 437.5 505 437.5 505C437.5 505 443 539 460 531C477 523 505.454 394.5 389.5 394.5Z"
    );
  }
  40% {
    d: path(
      "M389.5 394.5C320.786 394.5 305 483.107 320 514C342 514 341 492.5 341 492.5C341 492.5 366 576 389.5 576C413 576 437.5 505 437.5 505C437.5 505 457 519 464.5 516.5C472 514 505.453 394.5 389.5 394.5Z"
    );
  }
  60% {
    d: path(
      "M389.5 394.5C320.787 394.5 302.5 489.107 317.5 520C339.5 520 360 489.5 360 489.5C360 489.5 376.5 572 400 572C423.5 572 439 504 439 504C439 504 463 537 474 531C485 525 505.453 394.5 389.5 394.5Z"
    );
  }
  80% {
    d: path(
      "M389.5 394.5C320.786 394.5 283 510.5 312 529.5C350.499 531.5 360 489.5 360 489.5C360 489.5 351.499 591.5 402.5 588C453.5 584.5 439 504 439 504C439 504 478 539 492 529.5C506 520 505.453 394.5 389.5 394.5Z"
    );
  }
  100% {
    d: path(
      "M389.5 394.5C320.787 394.5 296.5 502.5 317 522C352 524 361.5 489.5 361.5 489.5C361.5 489.5 353 576 404 572.5C455.001 569 441.5 502.5 441.5 502.5C441.5 502.5 488.5 534 497 522C505.5 510 505.453 394.5 389.5 394.5Z"
    );
  }
}
