@keyframes rocket-booster-animation {
  0% {
    d: path(
      "M122.5 396.5C53.787 396.5 30.0486 519.665 53.0001 526.5C75.9516 533.335 84.4088 487.432 84.4088 487.432C84.4088 487.432 109.591 631.654 137.5 623.5C165.409 615.346 179.963 502.107 179.963 502.107C179.963 502.107 192.5 538 210.5 526.5C228.5 515 238.454 396.5 122.5 396.5Z"
    );
  }
  20% {
    d: path(
      "M120.062 398.062C51.3492 398.062 44.0485 531.165 62 533.5C79.9515 535.835 78.1902 487.432 78.1902 487.432C78.1902 487.432 103.781 610.5 129.281 606.5C154.781 602.5 173.744 502.107 173.744 502.107C173.744 502.107 181 539.5 198.5 528C216 516.5 236.016 398.062 120.062 398.062Z"
    );
  }
  40% {
    d: path(
      "M120.062 398.062C51.349 398.062 42.5486 510.665 60.5001 513C78.4516 515.335 78.1901 487.432 78.1901 487.432C78.1901 487.432 101.5 579 127 575C152.5 571 173.744 502.107 173.744 502.107C173.744 502.107 197 523.893 204.5 513C212 502.107 236.016 398.062 120.062 398.062Z"
    );
  }
  60% {
    d: path(
      "M120.67 398.062C51.9563 398.062 39.5486 515.165 57.5001 517.5C75.4516 519.835 97.5001 488.5 97.5001 488.5C97.5001 488.5 113 575 138.5 571C164 567 177.5 502.5 177.5 502.5C177.5 502.5 198.5 539 212.5 528.5C226.5 518 236.623 398.062 120.67 398.062Z"
    );
  }
  80% {
    d: path(
      "M120.669 398.062C51.956 398.062 20.0002 524 52.9999 528C85.9996 532 97.4997 488.5 97.4997 488.5C97.4997 488.5 91 590.5 141 587C191 583.5 177.5 502.5 177.5 502.5C177.5 502.5 208.5 534.5 228.5 528C248.5 521.5 236.623 398.062 120.669 398.062Z"
    );
  }
  100% {
    d: path(
      "M120.669 398.062C51.9563 398.062 31.0002 517.5 55 521.5C78.9998 525.5 97.5 488.5 97.5 488.5C97.5 488.5 89.5 575 139.5 571.5C189.5 568 177.5 502.5 177.5 502.5C177.5 502.5 218.5 530 231.5 521.5C244.5 513 236.623 398.062 120.669 398.062Z"
    );
  }
}
