@import "./subpages.scss";

body {
  overflow: hidden !important;
}

$rocket-height: 60vh;
#rocket {
  position: absolute;
  top: 100vh;
  left: 20vw;
  width: 60vw;
  height: $rocket-height;

  &.active {
    animation: rocket-takeoff-new $rocket-spacex-anim-duration linear 1 forwards;

    @keyframes rocket-takeoff-new {
      0% {
        top: 100vh;
      }
      100% {
        top: 20vh;
      }
    }
  }

  &.deactive {
    top: 20vh;
    animation: rocket-takeoff-deactivate $rocket-spacex-anim-duration linear 1 #{$rocket-lines-anim-duration *
      2} forwards;

    @keyframes rocket-takeoff-deactivate {
      0% {
        top: 20vh;
      }
      100% {
        top: 0vh - $rocket-height;
      }
    }
  }
}
