@import "./subpages.scss";

body {
  overflow: hidden !important;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;

  .content {
    position: absolute !important;
    top: 10vh;
    width: 100%;
    display: flex !important;
    flex-direction: column;

    #title {
      width: 100%;
      text-align: center;
    }

    #select-rocket {
      width: 400px;
      height: 30px;
      border-radius: 20px;
      margin: auto;
      color: black;

      option {
        color: black;
      }
    }
  }
}
$rocket-height: 60vh;
#rocket-identifier {
  position: absolute;
  top: 100vh;
  left: 20vw;
  width: 60vw;
  height: $rocket-height;

  &.active {
    animation: rocket-takeoff-new $rocket-spacex-anim-duration linear 1 forwards;

    @keyframes rocket-takeoff-new {
      0% {
        top: 100vh;
      }
      100% {
        top: 20vh;
      }
    }
  }

  &.deactive {
    top: 20vh;
    animation: rocket-takeoff-deactivate $rocket-spacex-anim-duration linear 1 #{$rocket-lines-anim-duration *
      2} forwards;

    @keyframes rocket-takeoff-deactivate {
      0% {
        top: 20vh;
      }
      100% {
        top: 0vh - $rocket-height;
      }
    }
  }
}
