@import "./global.scss";

$show-background-duration: 1s;
body {
  overflow-x: hidden;
  background-color: white;
  animation: show-background-anim calc($show-background-duration/2) ease-in-out
    1 forwards;

  @keyframes show-background-anim {
    from {
      background-color: white;
    }
    to {
      background-color: black;
    }
  }
}

.background-image {
  width: 200vw;
  height: 200vh;
  background-image: url("../images/background-generic-subpages.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0;
  animation: background-anim-show-image $show-background-duration ease-in-out 1
    forwards;

  @keyframes background-anim-show-image {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
}

.initial-animation {
  opacity: 0;
  animation: show-content-anim $show-background-duration ease-in-out 1 forwards;
  animation-delay: 0.5;
}

.main-container {
  @extend .initial-animation;
}

@keyframes show-content-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$menu-top-position: 8%;

/* --------------- Starting stolen code from here: https://codepen.io/roydigerhund/pen/ZQmbNm --------------- */
$menu-icon-line-height: 5px;
$menu-icon-line-space: 11px;
$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
$menu-icon-height: (3 * $menu-icon-line-height) + (2 * $menu-icon-line-space);
$cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
$cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);

/* This menu-wrapper class was added by me */
.menu-wrapper {
  position: absolute;
  top: $menu-top-position;
  left: 5%;
  z-index: 99999;
  @extend .initial-animation;
}

.menu-icon {
  width: 50px;
  height: $menu-icon-height;
  cursor: pointer;
  z-index: 50;

  .line-1,
  .line-2,
  .line-3 {
    height: $menu-icon-line-height;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out;
  }
  .line-1 {
    animation: animate-line-1-rev 0.7s ease-in-out;
  }
  .line-2 {
    margin: $menu-icon-line-space 0;
    animation: animate-line-2-rev 0.7s ease-in-out;
  }
  .line-3 {
    animation: animate-line-3-rev 0.7s ease-in-out;
  }

  &:hover {
    .line-1,
    .line-2,
    .line-3 {
      background-color: #fff;
    }
  }

  &.active {
    .line-1,
    .line-2,
    .line-3 {
      background-color: #fff;
    }

    .line-1 {
      animation: animate-line-1 0.7s $cubic-bezier-in forwards;
    }
    .line-2 {
      animation: animate-line-2 0.7s $cubic-bezier-in forwards;
    }
    .line-3 {
      animation: animate-line-3 0.7s $cubic-bezier-in forwards;
    }
  }
}

.no-animation {
  -webkit-animation: none !important;
  animation: none !important;
}

@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
  }
}
@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
  }
}
@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
/* --------------- Ending stolen code --------------- */

.astronaut-wrapper {
  @extend .initial-animation;
}

$astronaut-size: 70px;
.astronaut {
  position: absolute;
  top: 5%;
  right: 20%;
  width: $astronaut-size;
  height: $astronaut-size;
  z-index: 99999;
  animation: astronaut-flying 50s linear infinite;

  @keyframes astronaut-flying {
    0% {
      top: 2%;
      right: 13%;
      transform: rotate(10deg);
    }
    10% {
      transform: rotate(60deg);
    }
    20% {
      top: 5%;
      right: 5%;
      transform: rotate(90deg);
    }
    30% {
      transform: rotate(180deg);
    }
    40% {
      top: 15%;
      right: 9%;
      transform: rotate(250deg);
    }
    50% {
      transform: rotate(350deg);
    }
    60% {
      top: 10%;
      right: 15%;
      transform: rotate(420deg);
    }
    70% {
      transform: rotate(600deg);
    }
    80% {
      top: 15%;
      right: 35%;
      transform: rotate(690deg);
    }
    90% {
      top: 5%;
      right: 20%;
      transform: rotate(800deg);
    }
    100% {
      top: 2%;
      right: 13%;
    }
  }
}

/* Menu */
.menu {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 700px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #3faf82;
  color: #fff;
  z-index: 9999;

  .center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
}
